*{
    font-size: 62.5%;
    border:0;
    padding: 0;
}

.container{
    display:grid;
    place-content: center;
    grid-template-rows: repeat(3, 150px);
    grid-auto-columns: 150px ;
    grid-auto-flow: column;
    gap: 20px;
    height: 600px;
    background-color: rgb(233, 224, 213);
    border: 2px solid;
}

.item{
    display: grid;
    place-items: end;
    border: 5px solid rgb(56, 155, 194);
    font-size: 6rem;
    font-weight: bold;
    color: white;
}

.item14{
    background-color: rgb(24, 250, 24);
}

.item25{
    background-color: rgb(8, 196, 8);
}

.item36{
    background-color: rgb(6, 122, 6);
}

span{
    display: grid;
    justify-items: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color:rgb(13, 85, 23) ;
}